body {
  margin: 0;
  display: flex;
  min-width: 250px;
  max-width: 100vw;
  min-height: 100vh;
}
#root {
  width: 100%;
  max-width: 100%;
}
body * {
  box-sizing: border-box !important;
}
.fa-button {
  border: 0px;
  border-color: white !important;
  background-color: white;
  color: lightgrey !important;
  padding: 4px !important;
  transition: transform 0.1s ease-in-out !important;
}
.fa-button:hover {
  transform: scale(1.1);
}
.fa-button:active {
  transform: scale(0.9);
}
