/* make spinner-container class spin around */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner-container {
  animation: spin 1s linear infinite;
}

.spinner-container {
  max-height: 50px;
}
